.profile{
  font-family: inter;
  .content-block.dx-card {
    padding: 0;
    padding-top: 24px;
    min-height: 70vh;
  }
  .upper-section{
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #D9DDE1;
    .form-avatar {
      float: left;
      height: 104px;
    
      margin-right: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #fff;
      overflow: hidden;
      display: flex;
      align-items: center;
      img {
        height: 78px;
        display: block;
        margin: 0 auto;
      }
    
    }
    .about-profile{

      height: 104px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    
      .portal-name{
        font-size: 14px;
      }
      .name-address{
        display: flex;
        gap: 5px;
        align-items: center;
        :first-child {
          font-size: 20px;
          font-weight: 600;
          color: #344450;
        }
        :nth-child(2){
          font-size: 20px;
      
          color: #344450;
        }
        :last-child{
          font-size: 16px;
          font-weight: 400;
          color: #344450;
        }
      }
      .forget-pass{
        color: #6941C6;
        font-weight: 500;
    
      }
    
    }
  
  }
  .edit-profile-section{
    margin-left: 16px;
    margin-right: 16px;
    height: 132px;
    margin-top: 24px;
    .profile-section-header{
      font-size: 20px;
      font-weight: 500;
      margin-bottom:24px ;
    }
    .profile-section-editor{
      display: flex;
      gap: 24px;
    }
  }
}


